<p style="font-size: 35px;" align="center">Alterar Cadastro</p>

<div class="container col-md-6 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="form-group">
      <%= f.label :email %>
      <% if current_user.admin? %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      <% else %>
        <%= f.email_field :email, autofocus: true, disabled: :true, class: "form-control" %>
      <% end %>    
    </div>  

    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: "form-control" %> 
    </div>        

    <div class="form-group col-md-6">
      <%= f.label :responsavel, "Responsável" %>
      <%= f.text_field :responsavel, class: "form-control" %> 
    </div>
    
    <div class="form-group col-md-6">
      <%= f.label :telefone %>
      <%= f.telephone_field :telefone, class: "form-control" %>
    </div> 

    <div class="form-group col-md-6">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>    
    </div>   

    <div class="form-group col-md-6">
      <%= f.label :password_confirmation, "Confirmação de Senha" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>  

    <% if current_user.professor? %>
      <div class="form-group">
        <%= f.label :minicv, "Mini Curriculum" %> 
        <%= f.text_area :minicv, rows: 5, class: "form-control" %>
      </div>    
    <% end %>

    <div class="form-group">
      <%= f.label :current_password, "Senha Atual" %> 
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>           

    <div class="form-inline" align="center">
      <%= button_tag type: :submit, class: "btn btn-primary" do %>
        <%= fa_icon "save", text: "Salvar" %>
      <% end %>

      <%= link_to :back, class: "btn btn-default" do %>
        <%= fa_icon "arrow-left", text: "Voltar" %>
      <% end %>
    </div>
  <% end %>
</div>



