<div class="container center">
  <p style="font-size: 35px;">Alterar Cadastro</p>
</div>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "container" }) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="input-field">
      <%= f.label :email %>
      <% if current_user.admin? %>
        <%= f.email_field :email, autofocus: true, class: "validate", required: :true %>
      <% else %>
        <%= f.email_field :email, autofocus: true, disabled: :true, class: "validate", required: :true %>
      <% end %>    
    </div> 
    
    <div class="input-field">
      <%= f.label :nome %>
      <%= f.text_field :nome, class: "validate", required: :true %> 
    </div> 

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :responsavel, "Responsável" %>
        <%= f.text_field :responsavel, class: "validate", required: :true %> 
      </div>    
    
      <div class="input-field col s6">
        <%= f.label :telefone %>
        <%= f.telephone_field :telefone, class: "validate", required: :true %>
      </div> 
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, autocomplete: "off", class: "validate" %>    
      </div>       

      <div class="input-field col s6">
        <%= f.label :password_confirmation, "Confirmação de Senha" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate" %>
      </div>  
    </div>

    <% if current_user.professor? %>
      <div class="input-field">
        <%= f.label :minicv, "Mini Curriculum" %> 
        <%= f.text_area :minicv, rows: 5, class: "validate", required: :true %>
      </div>    
    <% end %>

    <div class="input-field">
      <%= f.label :current_password, "Senha Atual" %> 
      <%= f.password_field :current_password, autocomplete: "off", class: "validate", required: :true %>
    </div>           

    <div class="row center">
      <%= f.submit "Salvar", class: "waves-effect waves-light btn"  %>        

      <%= link_to "Voltar", :back, class: "waves-effect waves-light btn grey" %>        
    </div>
  <% end %>
</div>

