<div class="container center">
  <p style="font-size: 35px;">Seja Nosso Parceiro</p>
</div>

<div class="container">
  <%= form_for @partner, url: send_partner_apply_path, html: {class: "container"} do |f| %>  

    <div class="input-field">     
      
      <div class="input-field">
        <%= f.label :name, "Nome da Instituicão" %>
        <%= f.text_field :name, class: "validate", required: :true, maxlength: 50 %> 
      </div>  

      <div class="input-field">
        <%= f.label :responsible, "Responsável" %>
        <%= f.text_field :responsible, class: "validate", required: :true, maxlength: 50 %> 
      </div> 

      <div class="input-field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "validate", required: :true, maxlength: 50 %> 
      </div> 

      <div class="input-field">
        <%= f.label :telephone, "Telefone" %>
        <%= f.telephone_field :telephone, class: "validate", maxlength: 15 %>
      </div> 

      <div class="input-field">
        <%= f.label :about, "Fale um pouco sobre a instituicão" %>    
        <%= f.text_area :about, class: "materialize-textarea", required: :true,  data: {length: 5000} %>                      
      </div>                           

      <div class="row center">
        <%= f.submit "Salvar", class: "waves-effect waves-light btn #{PRIMARY_BUTTONS_COLOR}"  %>        

        <%= link_to "Voltar", :back, class: "waves-effect waves-light btn #{BACK_BUTTONS_COLOR}" %>        
      </div>

  <% end %>
</div>


