<div class="container center">
  <p style="font-size: 35px;">Cadastrar Usuário</p>
</div>

<div class="container">
  <%= form_for @user, url: create_user_path do |f| %>  

    <div class="input-field">
        <%= f.label :email %>
        <% if current_user.admin? %>
          <%= f.email_field :email, autofocus: true, class: "validate", required: :true %>
        <% else %>
          <%= f.email_field :email, autofocus: true, disabled: :true, class: "validate", required: :true %>
        <% end %>    
      </div> 
      
      <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "validate", required: :true, maxlength: 50 %> 
      </div> 

      <div class="row">
        <div class="input-field col s6">
          <%= f.label :responsible, "Responsável" %>
          <%= f.text_field :responsible, class: "validate", required: :true, maxlength: 50 %> 
        </div>    
      
        <div class="input-field col s6">
          <%= f.label :telephone %>
          <%= f.telephone_field :telephone, class: "validate", maxlength: 15 %>
        </div> 
      </div>      

      <div class="input-field">        
        <%= f.select :kind, [["Escolha o tipo do usuário", ""], ["Administrador", :admin], ["Professor", :professor], ["Aluno", :aluno]],  required: :true %> 
      </div>                   

      <div class="row center">
        <%= f.submit "Salvar", class: "waves-effect waves-light btn"  %>        

        <%= link_to "Voltar", :back, class: "waves-effect waves-light btn grey" %>        
      </div>

  <% end %>
</div>


