<div class="container center">
  <p style="font-size: 35px;">Alterar Senha</p>

  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="input-field">
        <%= f.label :password, "Nova Senha" %><br />   
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "validate", required: :true %>
      </div>

      <div class="input-field">
        <%= f.label :password_confirmation, "Confirme Nova Senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate", required: :true %>
      </div>

      <div class="actions">
        <%= f.submit "Resetar", class: "waves-effect waves-light btn" %>
      </div>
    <% end %>
  </div>
</div>


