<body>    
    <tr>
        <td><%= evento.titulo %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.data %></td>
        <td><%= evento.local %></td>
        <td><%= evento.images? %></td>
    </tr>
</body>