<div class="col s6 m6">
    <div class="card light-blue accent-4">
        <div class="card-content white-text">
            <span class="card-title" style="font-size: 25px;"><%= event.title %></span>
            <p style="font-size: 18px;"><%= event.description %></p>
            <p style="font-size: 18px;">Data: <%= l(event.date) %></p>
            <p style="font-size: 18px;">Hora: <%= event.time.to_s(:event_time) %></p>
            <p style="font-size: 18px;">Local: <%= event.local %></p>
        </div>
        <div align="right" class="card-action">
            <%= link_to "Galeria de Fotos", event_path(event) if event.images? %>
            <% if current_user and current_user.admin? %>
                <%= link_to "Editar", edit_event_path(event)%>
                <%= link_to "Deletar", event_path(event), data: {:confirm => 'Tem certeza que deseja deletar esse evento?'}, :method => :delete%>
            <% end %>
        </div>
    </div>
</div>
