<div class="container center">
  <p style="font-size: 35px;">Cadastrar Evento</p>
</div>

<div class="container">
  <%= form_for @event do |f| %>  
         
    <div class="input-field">
        <%= f.label :title, "Título" %>
        <%= f.text_field :title, class: "validate", required: :true, maxlength: 100 %> 
    </div> 

    <div class="input-field">
        <%= f.label :description, "Descrição" %>              
        <textarea id="event_description" name ="event[description]" class="materialize-textarea" data-length="255" required><%= @event.description %></textarea>               
    </div>    

    <div class="input-field">
        <%= f.label :local %>
        <%= f.text_field :local, class: "validate", required: :true, maxlength: 100 %> 
    </div>    

    <div class="input-field">
        <%= f.label :date, "Data"%>
        <input class="datepicker" required="required" name="event[date]" id="event_date" type="text">
    </div> 

    <div class="input-field">
        <%= f.label :time %>
        <input class="timepicker" required="required" name="event[time]" id="event_time" type="text">
    </div> 

    <div class="file-field input-field">
        <div class="btn yellow darken-3">
            <%= material_icon.cloud_upload %>
            <%= f.file_field :images, multiple: true %>
        </div>
        <div class="file-path-wrapper">
            <%= text_field_tag nil, (f.object.images.original_filename unless f.object.images.blank?), {id: nil, class: 'file-path validate', placeholder: 'Escolha suas fotos'} %>
        </div>
    </div>   
          

    <div class="row center">
        <%= f.submit "Salvar", class: "waves-effect waves-light btn #{PRIMARY_BUTTONS_COLOR}"  %>        

        <%= link_to "Voltar", :back, class: "waves-effect waves-light btn #{BACK_BUTTONS_COLOR}" %>        
    </div>

  <% end %>
</div>


