<div class="container center">
  <p style="font-size: 35px;">Galeria de Fotos</p>
</div>

<div class="container">
    <div class="row">
        <% @event.images.each_with_index do |image, index| %>
          <%= link_to image.url, target: '_blank' do %>
              <%= image_tag image.thumb.url %>
          <% end %>
          <%= link_to destroy_image_path(@event, index), method: :delete, data: { confirm: "Tem certeza que deseja deletar essa imagem?" } do %>
            <%= material_icon.delete %>
          <% end %>
        <% end %>
    </div>

    <div class="row center">
        <%= link_to "Voltar", events_path, class: "waves-effect waves-light btn #{BACK_BUTTONS_COLOR}" %>
    </div>
</div>
