<ul id="slide-out" class="side-nav">
  <li><a class="subheader"><%=@enrollment.course.title%></a></li>
  <li><div class="divider"></div></li>
  <% @grades.each do |grade| %>
    <li><%= link_to grade.title, enrollment_show_path(@enrollment, grade.id)%></a></li>
  <% end %>
</ul>

<div class="left">
  <%= link_to "Aulas", '#', class: "button-collapse waves-effect waves-light btn #{PRIMARY_BUTTONS_COLOR}", data: {activates: 'slide-out'}%>
</div>

<div class="center">
  <p style="font-size: 35px;"><%=@grade.title%></p>
</div>

<div class="video-container">
  <iframe width="560" height="315" src="<%=@grade.video_link%>" frameborder="0" allowfullscreen></iframe>
</div>

<div class="left" style="padding-bottom: 20px; padding-top: 20px;">
  <%= link_to "Enviar Pergunta", ask_question_path(@enrollment, @grade) %>
</div>

<div class="right" style="padding-bottom: 20px; padding-top: 20px;">
  <%= link_to("Visualizar Arquivo", @grade.document.url, target: '_blank') if @grade.document? %>
</div>


