<div class="col s12 m12">
    <div class="card light-blue accent-4">
        <div class="card-content white-text">
            <span class="card-title" style="font-size: 25px;"><%= course.title %></span>
            <p style="font-size: 18px;"><%= course.description %></p>
            <p style="font-size: 18px;">Professor: <%= course.user.name if course.user %> </p>
        </div>
        <div align="right" class="card-action">
            <%= link_to("Professor", user_path(course.user)) if course.user %>
            <%= link_to("Baixar Ementa", course.document.url, target: '_blank') if course.document? %>
            <%= link_to("Matricular", enrollments_path(course_id: course.id), data: {:confirm => 'Tem certeza que deseja se matricular nesse curso?'}, method: :post) if current_user and current_user.student? %>
                  <%= link_to("Gerenciar Aulas", course_grades_path(course)) if current_user and (current_user.admin? or current_user.teacher?) %>
            <%= link_to "Editar", edit_course_path(course) if current_user and (current_user.admin? or current_user.teacher?) %>
            <%= link_to "Deletar", course_path(course),  data: {:confirm => 'Tem certeza que deseja deletar esse curso?'}, :method => :delete if current_user and current_user.admin? %>
        </div>
    </div>
</div>


