<p>Olá,</p>

<p>Temos uma nova pergunta:</p>
<p>Curso: <%= @course_title %></p>
<p>Aula: <%= @grade_title %></p>
<p>Nome do aluno: <%= @name_student %></p>
<p>Email do aluno: <%= @email_student %></p>
<p>Pergunta: <%= @question %></p>



