<body>    
    <tr>
        <td><%= edital.titulo %></td>
        <td><%= edital.descricao %></td>
        <td><%= link_to("Baixar Edital", edital.document.url, target: '_blank') if edital.document? %></td> 
        <% if current_user and current_user.admin? %> 
            <td><%= link_to edit_editai_path(edital) do %>
                    <%= material_icon.edit %>
                <% end %>
            </td> 
            <td>
                <%= button_to editai_path(edital), class: "waves-effect waves-light btn red right", data: {:confirm => 'Tem certeza que deseja deletar esse edital?'}, :method => :delete do %>
                    <%= material_icon.delete_forever %>
                <% end %>  
            </td>     
        <% end %>         
    </tr>
</body>