 <% if user_signed_in? %>
    <ul id="user-dropdown" class="dropdown-content">
        <li>
            <%= link_to edit_user_registration_path do %>
                <i class="material-icons left">edit</i>Alterar Cadastro                        
            <% end %>          
        </li>   
        <li class="divider"></li>         
        <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="material-icons left">close</i>Sair                        
            <% end %>       
        </li>
    </ul> 

    <ul id="cadastrar-dropdown" class="dropdown-content">
        <li>
            <% if current_user.admin? %>
                <%= link_to "Usuários", show_all_users_path %>              
                <%= link_to "Parceiros" %>
                <%= link_to "Eventos" %>
                <%= link_to "Editais" %>
            <% end %>
            <% if current_user.professor? || current_user.admin? %>
                <%= link_to "Cursos" %>  
            <% end %>
            <% if current_user.professor? %>
                <%= link_to "Alunos" %>  
            <% end %>
        </li>      
    </ul> 
<% end %>

<header>
    <div class="navbar-fixed"> 
        <nav>            
            <div class="nav-wrapper">  
                <%= link_to "Elabore", root_path, class: "brand-logo center" %>   
                <ul id="nav-right" class="left hide-on-med-and-down">  
                    <li><%= link_to "Eventos", "#", class: "waves-effect waves-light btn"%></li>
                    <li><%= link_to "Editais", "#", class: "waves-effect waves-light btn"%></li> 
                </ul>                            
                <ul id="nav-right" class="right hide-on-med-and-down">                                  
                    <% if user_signed_in? %>  
                        <% if current_user.aluno? %>
                            <li><%= link_to "Cursos", "#", class: "waves-effect waves-light btn"%></li>
                        <% end %>                          
                        <% if !current_user.aluno? %> 
                            <li><a class="dropdown-button" href="#!" data-activates="cadastrar-dropdown">Cadastrar<i class="material-icons right">view_list</i></a></li> 
                        <% end %>
                        <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><%= current_user.nome %><i class="material-icons right">account_circle</i></a></li>                                    
                    <% else %>
                        <li><%= link_to "Seja Nosso Parceiro", new_parceiro_path, class: "waves-effect waves-light btn"%></li>
                        <li><%= link_to "Entrar", new_user_session_path, class: "waves-effect waves-light btn"%></li>
                    <% end %> 
                </ul>                 
            </div>
        </nav>
    </div>
</header>



      