<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Elabore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= nav_bar static: :top, brand: "Elabore", brand_link: root_path, responsive: true do %>  
    
      <%= menu_group pull: :right do %>
        <% if user_signed_in? %>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= fa_icon "user-circle", text: "Usuário" %></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_user_registration_path, class: 'navbar-link' do %>
                  <%= fa_icon "edit", text: "Alterar Cadastro" %>                  
                <% end %>              
              </li>
              <%= drop_down_divider %>             
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-link' do %>
                  <%= fa_icon "sign-out", text: "Sair" %>                  
                <% end %> 
              </li>
            </ul>
          </li>  
               
        <% else %>
          <%= menu_item "Entrar", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>        
      <% end %>
    <% end %>

  <div class="container">
    <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
