<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116383143-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116383143-1');
      </script>
    <% end %>
    <title>Projeto Elabore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/navbar" %>

    <main>
      <% if notice %>
        <script type="text/javascript">
          Materialize.toast('<%= notice %>', 2500, 'green')
        </script>
      <% end %>
      <% if alert %>
        <script type="text/javascript">
          Materialize.toast('<%= alert %>', 2500, 'red')
        </script>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer"%>

  </body>

</html>
